<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @weight_event.label %>
</p>

<%= link_to 'Edit', edit_weight_event_path(@weight_event) %> |
<%= link_to 'Back', weight_events_path %>
